.container {
	text-align: center;
}

.whatsapp {
	background-color: #25D366;
}

.instagram {
	background-color: #C13584;
}

.facebook {
	background-color: #3B5998;
}

.homepage {
	background-color: #0077B5;
}
